<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="header__logo col-md-2">
          <img src="./images/logo.png" alt="eCardMAX">
        </div>
        <div class="header__toolbars col-md-10">
          <ul class="toolbar">
            <li class="toolbar__item">
              <a class="btn-circle btn-circle--search" href="#"></a>
            </li>
            <li class="toolbar__item">
              <a class="btn-circle btn-circle--signup" href="#"></a>
            </li>
            <li class="toolbar__item">
              <a class="btn-circle btn-circle--signin" href="#"></a>
            </li>
            <li class="toolbar__item">
              <a class="btn-circle btn-circle--language" href="#"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <nav class="header__menu">
    <div class="container">
      <ul class="menu">
        <li>
          <a class="{{active-route 'index.html'}}" href="./index.html">Home</a>
        </li>
        <li>
          <a class="{{active-route 'category.html'}}" href="./category.html">Category</a>
          <ul>
            {{#loop 5}}
              <li>
                <a class="{{active-route 'category.html'}}" href="./category.html">Category Level 2</a>
                <ul>
                  {{#loop 5}}
                    <li>
                      <a class="{{active-route 'category.html'}}" href="./category.html">Category level 3</a>
                      
                    </li>
                  {{/loop}}
                </ul>
              </li>
            {{/loop}}
          </ul>
        </li>
        <li>
          <a class="{{active-route 'index.html'}}" href="./index.html">Invitations</a>
          <ul>
            {{#loop 4}}
              <li>
                <a class="{{active-route 'category.html'}}" href="./category.html">Invitations Level 2</a>
                <ul>
                  {{#loop 5}}
                    <li>
                      <a class="{{active-route 'category.html'}}" href="./category.html">Invitations Level 3</a>
                    </li>
                  {{/loop}}
                </ul>
              </li>
            {{/loop}}
          </ul>
        </li>
        <li>
          <a class="{{active-route 'index.html'}}" href="./index.html">Tell Friends</a>
        </li>
        <li>
          <a class="{{active-route 'index.html'}}" href="./index.html">Popular</a>
        </li>
        <li>
          <a class="{{active-route 'index.html'}}" href="./index.html">Top-Rated</a></li>
        <li>
          <a class="{{active-route 'index.html'}}" href="./index.html">New</a></li>
      </ul>
    </div>
  </nav>
</header>