<header class="header">
  <div class="header__logo">
    <img src="./images/logo.png" alt="eCardMAX">
  </div>
  <div class="header__sidebar">
    <ul class="leftmenu">
      <li class="leftmenu__item leftmenu__item--search">
        <a class="leftmenu__link" href="#"></a>
      </li>
      <li class="leftmenu__item leftmenu__item--signin">
        <a class="leftmenu__link" href="#"></a>
      </li>
      <li class="leftmenu__item leftmenu__item--signup">
        <a class="leftmenu__link" href="#"></a>
      </li>
      <li class="leftmenu__item leftmenu__item--language">
        <a class="leftmenu__link" href="#"></a>
      </li>
    </ul>
  </div>
  <nav class="header__menu">
    <ul class="menu">
      <li class="menu__item">
        <a class="menu__link {{active-route 'index.html'}}" href="./index.html">Home</a>
      </li>
      <li>
        <a class="menu__link {{active-route 'category.html'}}" href="./category.html">Category</a>
      </li>
      <li>
        <a class="menu__link {{active-route 'index.html'}}" href="./index.html">Invitations</a>
      </li>
      <li>
        <a class="menu__link {{active-route 'index.html'}}" href="./index.html">Tell Friends</a>
      </li>
      <li>
        <a class="menu__link {{active-route 'index.html'}}" href="./index.html">Popular</a>
      </li>
      <li>
        <a class="menu__link {{active-route 'index.html'}}" href="./index.html">Top-Rated</a></li>
      <li>
        <a class="menu__link {{active-route 'index.html'}}" href="./index.html">New</a></li>
    </ul>
  </nav>
</header>